body{
    background-color: blueviolet;
    text-align: center;
}

h1{
    margin-top: 100px;
    color: white;
}

.circle{
    background-color: blueviolet;
    margin: 0 auto;
    margin-top: 70px;
    width: 300px;
    height: 300px;
    border: 10px solid orangered;
    border-radius: 50%;
}

.inner{
    margin-top: 110px;
}

h2{
    color: white;
    font-size: 80px;
    display: inline;
    text-align: center;
}

.btn{
    margin-top: 50px;
}

button{
    margin: 10px;
    height: 35px;
    width: 80px;
    background-color: blueviolet;
    color: white;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
}

button:hover{
    background-color: white;
    color: black;
    transition: 0.6s;
}